body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    left: -250px;
    background: #262626;
    width: 250px;
    height: 100%;
    transition: 0.3s;

}
.active {
  left: 0; 
}

.brend {
}
.logo {
}
.nav-list {
    margin: 0;
    padding: 20px 0;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sidebarbtn {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background: #f5f5f5;
    border: none;
    outline: none;     
}
.sidebarbtn span{
    display: block;
    width: 35px;
    height: 3px;
    background: #262626;
    position: absolute;
    top: 24px;
    transition: 0.3s;
}
.sidebarbtn span::before{
    content: "";
    position: absolute;
    top: -10px;left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: 0.3s;
}
.sidebarbtn span::after{
    content: "";
    position: absolute;
    bottom: -10px;left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: 0.3s;
}
.sidebarbtn .toggle span{
    background: transparent;
}
.sidebarbtn.toggle span::before{
top: 0;
transform: rotate(45deg);
}
.sidebarbtn.toggle span::after{
bottom: 0;
transform: rotate(-45deg);
}